# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

# Virtual Environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
dist/
build/
eggs/
*.egg-info/

# Compiled Python files
*.pyc
*.pyo
